spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bikelab
    username: postgres
    password: 2005
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  flyway:
    enabled: true
    locations: classpath:db/migration
  mvc:
    problemdetails:
      enabled: true
server:
  port: 8080
management:
  endpoints:
    web:
      exposure:
        include: health,info
springdoc:
  swagger-ui:
    path: /swagger-ui
  api-docs:
    path: /v3/api-docs
security:
  jwt:
    secret: U3VwZXJTZWNyZXRKb3RUb2tlbjEyMzQ1Ng==
    issuer: BikeLak
    expiration: 3600
